/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid grey;
  background: url(./assets/FFT-October-.jpg);
  object-fit: cover;
}

.logo a{
  margin-left: 20px;
  margin-right: 5px;
  font-size: 3rem;
  color: #e9650d;
}

.menu > li {
  margin-top: 29px;
  margin-bottom: 29px;
  margin-right: 20px;
  font-size: 2.5rem;
}

.menu > li a {
  color: #5f5e4a;
}

main {
  background: whitesmoke;
  height: 90vh;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form-group {
  position: relative;
}
  
.fa-solid {
  position: absolute;
  left: 10px;
  top: 6px;
}

input {
  padding-left: 34px;
}


.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
}

.card {
  box-shadow: 0 0 3px black;
}

.card-image {
  width: 100%;
  display: block;
}

.card-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background-color: #fafa;
  text-align: center;
}

.card-content > p:last-of-type {
  margin-bottom: 0;
}

.card-info {
  padding: 15px;
  display: flex;
  justify-content: center;
  background: #eeeeee;
  font-size: 0.8rem;
  border-bottom: 2px solid #cccccc;
}

.card-link {
  color:#5f5e4a;
}

.card-link:hover {
  text-decoration: underline;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.meal-details-content {
  background-color: #fff;
  width: 700px;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.meal-details-content h2{
  margin: 0;
}

.meal-details-content p {
  font-size: 14px;
  opacity: 0.7;
}

#close {
  position: absolute;
  top: .3rem;
  text-align: center;
}

/*  */
.notFound{
  grid-template-columns: 1fr!important;
  color: orange;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .meal-details-content {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .meal-details-content {
    width: 300px;
  }
}
